uvicorn[standard]==0.29.0
fastapi[all]==0.110.2
sqlalchemy==2.0.31
pymysql==1.1.1
cryptography==42.0.8
pydantic[email]==2.8.0
pwdlib[argon2]==0.2.0
pyjwt==2.8.0
requests==2.32.3
google-auth==2.32.0
psycopg2-binary==2.9.9
numpy==1.26.0
joblib==1.4.2
pandas==2.2.2
scikit-learn==1.3.2
geopy==2.4.1
